<!DOCTYPE html>
<html>
  <head>
    <title>MyFinder</title>
    <meta charset="utf-8">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../stylesheets/photon.css">
    <link rel="stylesheet" href="../stylesheets/finder.css">

    <!-- Javascript -->
    <script src="../renderers/finder.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="window">

      <!-- .toolbar-header sits at the top of your app -->
      <header class="toolbar toolbar-header">
        <h1 class="title">MyFinder</h1>
	<div class="toolbar-actions">
	  <button class="btn btn-default pull-right" id="update-button">
	    <span class="icon icon icon-cw"></span>
	  </button>
	  <button class="btn btn-default pull-right" id="notification-button">
	    <span class="icon icon-lamp"></span>
	  </button>
	</div>
      </header>

      <!-- Your app's content goes inside .window-content -->
      <div class="window-content">
        <div class="pane-group">
          <div class="pane pane-sm sidebar">
            <nav class="nav-group">
              <h5 class="nav-group-title">項目</h5>
              <span class="nav-group-item active" data-tableid="files">
                <span class="icon icon-archive"></span>
                ファイル
              </span>
              <span class="nav-group-item" data-tableid="reuselogs">
                <span class="icon icon-loop"></span>
                再利用履歴
              </span>
            </nav>
          </div>

          <div class="pane" id="main">
	    <span id="files-table"></span>
	    <span id="reuselogs-table"></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
