<table class="table-striped" id="files">
  <thead>
    <tr>
      <th class="name">名前</th>
      <th class="date">変更日</th>
      <th class="size">サイズ</th>
      <th class="type">種類</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
	<span class="icon icon-folder icon-fw"></span>
	sample_documents
      </td>
      <td>2017年2月22日 23:59</td>
      <td class="size">2 MB</td>
      <td>フォルダ</td>
    </tr>
    <tr>
      <td>
	<span class="icon icon-doc-text icon-fw"></span>
	sample.rb
      </td>
      <td>2017年2月22日 23:59</td>
      <td class="size">10 KB</td>
      <td>ドキュメント</td>
    </tr>
    <tr>
      <td>
	<span class="icon icon-doc-text icon-fw"></span>
	sample.txt
      </td>
      <td>2017年2月22日 23:59</td>
      <td class="size">4 B</td>
      <td>ドキュメント</td>
    </tr>
  </tbody>
</table>
