<table class="table-striped" id="reuselogs">
  <thead>
    <tr>
      <th class="source">再利用元</th>
      <th class="destination">再利用先</th>
      <th class="reuse-date">再利用日時</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
	<span class="icon icon-folder icon-fw"></span>
	sample_documents
      </td>
      <td>
	<span class="icon icon-folder icon-fw"></span>
	sample_documents
      </td>
      <td>2017年2月22日 23:59</td>
    </tr>
    <tr>
      <td>
	<span class="icon icon-doc-text icon-fw"></span>
	sample.rb
      </td>
      <td>
	<span class="icon icon-doc-text icon-fw"></span>
	sample.rb
      </td>
      <td>2017年2月22日 23:59</td>
    </tr>
    <tr>
      <td>
	<span class="icon icon-doc-text icon-fw"></span>
	sample.txt
      </td>
      <td>
	<span class="icon icon-doc-text icon-fw"></span>
	sample.txt
      </td>
      <td>2017年2月22日 23:59</td>
    </tr>
  </tbody>
</table>
